Django==6.0.6
djangorestframework==3.17.1
django-cors-headers==4.9.0
dj-database-url==2.3.0
python-dotenv==1.2.2

psycopg2-binary==2.9.12
gunicorn>=21.2.0

requests==2.34.2
python-dateutil==2.9.0.post0
tzlocal==5.4.3
pytz==2026.1

openpyxl==3.1.5
xlsxwriter==3.2.0
gunicorn==22.0.0
whitenoise==6.7.0
asgiref>=3.7

black==26.5.1